* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #da4c3f;
  margin-top: 23%;
  display: flex;
  justify-content: center;
}

.loading {
  border: 26px solid #f3f3f3;
  border-radius: 50%;
  border-top: 20px solid #3498db;
  width: 300px;
  height: 300px;
  -webkit-animation: spin 2s linear infinity;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-border-top: 16px solid red;
  }
  
  20% {
    -webkit-transform: rotate(72deg);
    -webkit-border-top: 16px solid rgb(0, 255, 76);
  }
  40% {
    -webkit-transform: rotate(144deg);
    -webkit-border-top: 16px solid rgb(221, 98, 15);
  }
  60% {
    -webkit-transform: rotate(216deg);
    -webkit-border-top: 16px solid rgb(207, 221, 15);
  }
  80% {
    -webkit-transform: rotate(288deg);
    -webkit-border-top: 16px solid rgb(29, 15, 221);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-border-top: 16px solid rgb(255, 0, 212);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top: 16px solid red;
  }
  20% {
    transform: rotate(72deg);
    border-top: 16px solid rgb(0, 255, 76);
  }
  40% {
    transform: rotate(144deg);
    border-top: 16px solid rgb(221, 98, 15);
  }
  60% {
    transform: rotate(216deg);
    border-top: 16px solid rgb(207, 221, 15);
  }
  80% {
    transform: rotate(288deg);
    border-top: 16px solid rgb(29, 15, 221);
  }
  100% {
    transform: rotate(360deg);
    border-top: 16px solid rgb(255, 0, 212);
  }
}
